.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

@media (max-width: 380px) {
  .new-expense__control {
    width: 100%;
  }
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 32rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;

  & button {
    position: relative;
    overflow: hidden;
  }
}
