$color-primary-light: #97b8d8;
$color-primary-medium: #1F1FFF;
$color-primary-dark: #5d8eea;

$color-primary2: crimson;
$color-secondary: #F7F7F7;

$color-primary2-light: #34A426;
$color-primary2-dark: #338446;
$color-primary2-dark2: #48817A;

$color-secondary-light: #FDB813;
$color-secondary-dark: #E39D45;  //main color

$color-tertiary-light: #D6DFEA;
$color-tertiary-dark: #D7C6AC;

$color-light-grey: #d5d5d5;
$color-grey-light: #eee;
$color-grey-light-2: #aaa;
$color-grey-dark: #555;
$color-grey-dark-2: #333;

$color-white: #fff;
$color-white2: #fbfbfb;

$color-black: #000;
$color-black-2: #14141e;